<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/header.ejs') %>
    <title>About Us</title><head>

</head>
<body>
    <nav class="navbar navbar-expand bg-light">
        <a href="/" class="logo"><img src="/Images/logo1.png" alt="logo"></a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav navList firstList">
                <li class="nav-item"><a href="/pictures" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="aboutUs" class="nav-link">About Us</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Contact Us</a></li>
        </ul>
        </div>
    </nav>

    <h2 class="aboutUs">Welcome to Focused On You, a community about helping everyone grow as photographers and artists. By posting an image for critique, you are asking people to offer their critical opinions. By posting, you are asking others to spend time and effort thinking about your image, so return the favor and comment on other images!</h2>
</body>