<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/mainpage.css">
    <title>Welcome!</title>
</head>
<body>
    <div class="tagline">
        <h2>Our mission is to shift the focus from the lens to you, using the communities help.</h2>
        <h2>Our users provide honest feedback on your priceless artwork.</h2>
        <br><br>
        <div class="buttonDiv">
            <image class="cameraIcon" src="Images/cameraIcon1.png"></image><br>
            <a class="enter" id="iconCam" href="/pictures">Enter</a>
        </div>
    </div>
</body>
</html>