<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Signika&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/FocusedOnYou.css">
    <title>Log In</title>
</head>
<body class="loginBody">
    <h1>Log In</h1> <br>
    <form action="/sessions/new" method="POST">
        Username: <input id="login" type="text" name="username"/><br/><br/>
        Password: <input id="login" type="password" name="password"/><br/><br>
        <input type="submit" value="Log in"/>
    </form>
</body>
</html>
